<aside class="w-64 bg-black/40 border-r border-white/5 flex flex-col h-full shrink-0">
  <div class="p-6 border-b border-white/5 flex flex-col gap-4">
    <!-- Tab selection -->
    <div class="flex bg-black/40 rounded-lg p-1 border border-white/10 shrink-0">
      <button
        (click)="activeTab.set('groups')"
        [class]="
          activeTab() === 'groups'
            ? 'bg-cyan-500/20 text-cyan-400'
            : 'text-slate-500 hover:text-white'
        "
        class="flex-1 px-3 py-1.5 rounded text-[10px] uppercase tracking-wide font-bold transition-all"
      >
        Groups
      </button>
      <button
        (click)="activeTab.set('analysis')"
        [class]="
          activeTab() === 'analysis'
            ? 'bg-cyan-500/20 text-cyan-400'
            : 'text-slate-500 hover:text-white'
        "
        class="flex-1 px-3 py-1.5 rounded text-[10px] uppercase tracking-wide font-bold transition-all"
      >
        Analysis
      </button>
    </div>
  </div>

  <!-- Tab content -->
  <nav class="flex-1 py-4 px-3 overflow-hidden flex flex-col">
    @switch (activeTab()) {
      @case ('groups') {
        <div class="text-[9px] uppercase tracking-wider text-slate-600 mb-4 px-3 shrink-0">
          Label Groups
        </div>
        <div class="space-y-1 flex-1 overflow-y-auto no-scrollbar pr-1">
          @for (item of labelGroups() | keyvalue; track $index) {
            <button
              [attr.key]="item.key"
              (click)="selectedLabelCode.set(item.key)"
              class="w-full text-left px-3 py-3 flex items-center justify-between rounded-lg transition-colors border group hover:bg-white/5 border-transparent"
              [class]="selectedLabelCode() === item.key
                ? 'bg-cyan-500/10 border-cyan-500/30'
                : 'hover:bg-white/5 border-transparent'"
            >
              <span class="text-xs font-medium truncate pr-2 text-slate-400">
                {{ item.key }}
              </span>
              <span class="text-[10px] font-mono text-slate-500">
                {{ item.value.length }}
              </span>
            </button>
          }
        </div>
      }
      @case ('analysis') {
        <div class="text-[9px] uppercase tracking-wider text-slate-600 mb-4 px-3 shrink-0">Anomaly Detection</div>
        @if (suspectedLabels() && suspectedLabels()!.length > 0) {
          <section class="flex flex-col h-full overflow-hidden">
            <div class="flex-1 flex flex-col overflow-hidden">
                <div class="flex-1 overflow-y-auto no-scrollbar space-y-2 pr-1 gap-5">
                  @for(suspect of suspectedLabels(); track $index) {
                    <div
                      [attr.key]="suspect.label.id"
                      (click)="selectedSuspiciousLabel.set(suspect)"
                      class="p-3 bg-white/5 hover:bg-white/10 border hover:border-white/20 shadow-[0_4px_12px_rgba(0,0,0,0.5)] rounded-lg cursor-pointer transition-all flex flex-col gap-2"
                      [class]="this.selectedSuspiciousLabel() === suspect ? 'border-cyan-500/50' : 'border-white/5'"
                    >
                        <div class="flex items-center justify-between">
                          <span class="text-xs font-bold text-white">{{suspect.label.code}} <span class="text-slate-500 font-mono">#{{suspect.index + 1}}</span></span>
                        </div>
                        <p class="text-[9px] text-slate-400 leading-relaxed font-mono">{{suspect.reason}}</p>
                    </div>
                  }
                </div>
            </div>
          </section>
        } @else {
          <section class="flex flex-col h-full w-full items-center justify-center p-10">
            @if (suspectedLabels() && suspectedLabels()!.length === 0) {
              <div class="text-cyan-500 p-2 bg-cyan-500/15 border-2 border-cyan-500/50 rounded-xl"> No suspicious Labels found!</div>
            } @else {
              <button
                (click)="analyzeLabels()"
                class="mt-2 w-full py-2 bg-cyan-500/20 hover:bg-cyan-500/30 disabled:opacity-50 text-cyan-400 border border-cyan-500/40 rounded text-[10px] uppercase tracking-widest font-bold transition-all"
              >
                Analyze Labels
              </button>
            }
          </section>
        }
      }
    }
  </nav>

  <!-- Settings -->
  <div class="p-4 border-t border-white/5 flex flex-col gap-4">
    <app-settings-editor></app-settings-editor>
  </div>
</aside>
