<div class="flex h-screen bg-[#0a0a0c] text-slate-300 font-sans overflow-hidden">
  <app-dashboard-sidebar [(selectedLabelCode)]="selectedLabelCode"></app-dashboard-sidebar>

  <main
    class="flex-1 flex flex-col bg-[radial-gradient(circle_at_50%_0%,rgba(6,182,212,0.08)_0%,transparent_50%)] w-0 overflow-hidden"
  >
    @if (selectedLabelGroup() && selectedLabel()) {
      <header
        class="h-20 border-b border-white/5 flex items-center justify-between px-8 bg-black/20 backdrop-blur-md shrink-0 gap-10"
      >
      <div class="grid grid-cols-2 flex-1 items-center gap-2">
          <h1>{{ selectedLabelCode() | appLabel }}</h1>
          <select #labelSelect
            (change)="labelSelect.blur()"
            [(ngModel)]="selectedLabelId"
            class="bg-black/40 border border-white/10 text-slate-300 text-sm rounded-lg focus:ring-1 focus:ring-cyan-500 focus:border-cyan-500 block px-3 py-2 outline-none transition-colors cursor-pointer appearance-none hover:bg-black/60"
          >
            <option value="" disabled>Select an option</option>
            @for (option of this.selectedLabelGroup(); track option.id; let idx = $index) {
              <option [value]="option.id">
                #{{ idx + 1 }}: {{ option.start | appTimestamp }} - {{ option.end | appTimestamp}}
              </option>
            }
          </select>
        </div>
        <button
          (click)="reset()"
          class="hover:bg-cyan-400 text-cyan-500 hover:text-black rounded-full flex items-center justify-center transition-all shrink-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-8"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </header>

      <app-snippet-player
        class="flex-1 p-1 overflow-hidden"
        [audioLabels]="selectedLabelGroup()!"
        [(selectedLabel)]="selectedLabel"
      ></app-snippet-player>
    }
  </main>
</div>
